@charset "UTF-8";
body {
  font-family: "Open Sans","Helvetica","Arial","sans-serif";
}

body .container {
  padding: 0px !important;
}

body #bg-header-login {
  background-color: #F5F5F5;
  padding: 10px 0px 10px 0px;
}

body #bg-header-login div {
  font-weight: 500;
  font-size: medium;
}

body #bg-header-login div span {
  font-weight: 200 !important;
}

body #bg-header-login div .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body #bg-header-login div .flex-container div {
  margin: 0px 10px 0px 10px;
  font-size: small;
}

body #bg-header-login div .flex-container span a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #000;
}

body #bg-header-login div .flex-container span a:hover {
  color: #FF5C00;
}

body #bg-mg-logo {
  margin: 2em 0em 1em 0em;
}

body #bg-mg-logo .row #txt-seach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #bg-mg-logo .row #txt-seach input {
  padding: 10px 20px;
  margin: 10px 0px 0px 20px;
  border-radius: 40px 0px 0px 40px;
  border: 2px solid #FF5C00;
  width: 500px;
}

body #bg-mg-logo .row #txt-seach #ico-search {
  padding: 10px 20px;
  margin: 10px 0px 0px 0px;
  border-radius: 0px 40px 40px 0px;
  border: 2px solid #3B3B3B;
  background-color: #3B3B3B;
  width: 50px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #bg-mg-logo .row #txt-seach #ico-search .fa {
  color: #ffffff;
  margin: 50%;
}

body #bg-mg-logo .row #txt-seach #ico-search .fa:hover {
  color: orangered;
}

body #bg-mg-logo #info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px;
}

body #bg-mg-logo #info-contact #img-phone {
  margin-right: 20px;
}

body #menu-side-bar {
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 10px 30px 4px #b1abab;
          box-shadow: 0px 10px 30px 4px #b1abab;
}

body #menu-side-bar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  position: relative;
}

body #menu-side-bar .container .container-menu-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  width: 80%;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar {
  width: 250px;
  height: auto;
  background-color: white;
  left: 15px;
  border-radius: 10px 10px 0px 0px;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar header {
  text-align: center;
  height: 60px;
  background-color: #f55c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding-left: 1em;
  position: relative;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar header .fa-bars {
  margin-right: 5px;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar header .fa-caret-down {
  position: absolute;
  right: 15px;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar {
  display: none;
  position: absolute;
  border: 1px solid #BDBDBD;
  width: 250px;
  background-color: #ffffff;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul {
  text-align: left;
  padding: 0px 20px;
  margin: 0px;
  display: block;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li {
  list-style: none;
  border-bottom: 1px solid #BDBDBD;
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  position: absolute;
  width: 100%;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li a i {
  margin: 0px 0px 0px 5px;
  width: 35px;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li a p {
  margin: 0px;
  font-weight: 500;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li a .fa-chevron-right {
  position: absolute;
  width: 100%;
  text-align: right;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li .menu-chil {
  background-color: #ffffff;
  position: absolute;
  left: 228px;
  width: 100%;
  top: 0;
  border: 1px solid #BDBDBD;
  padding: 0px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li .menu-chil span {
  margin: 30px 20px 5px 20px;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li .menu-chil li {
  margin: 0px 30px;
  border-bottom: none;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li:hover p, body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul li:hover .fa-chevron-right {
  color: #f55c00;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul .chil-open:hover .menu-chil {
  opacity: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body #menu-side-bar .container .container-menu-side .nav-side-bar #display-side-bar ul .chil-open a:hover {
  color: #f55c00;
}

body #menu-side-bar .container .container-menu-side #side-bar:hover #display-side-bar {
  display: block;
  position: absolute;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

body #menu-side-bar .container .container-menu-side #menu-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #menu-side-bar .container .container-menu-side #menu-home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position {
  margin: 0px 5px 0px 15px;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .static-position-a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: black;
  font-weight: 500;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce {
  background-color: #ffffff;
  position: absolute;
  width: 1000px;
  left: 0;
  top: 59;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0%;
  visibility: hidden;
  border-top: none;
  border-bottom: 5px solid #f2f2f2;
  -webkit-box-shadow: 0 0 25px -5px;
          box-shadow: 0 0 25px -5px;
  padding: 15px;
  height: 350;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .drop-menu-detail ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .drop-menu-detail ul .menu-field {
  width: 200px;
  height: 40px;
  margin-right: 15px;
  margin-bottom: 15px;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .drop-menu-detail ul .menu-field span a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 14px;
  font-weight: 550;
  -webkit-transition: 0.2S;
  transition: 0.2S;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .drop-menu-detail ul .menu-field span:hover a {
  color: #f55c00;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .baner-menu-produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .baner-menu-produce .col-xs-6, body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-produce .baner-menu-produce .col-md-6 {
  padding-left: 0px !important;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark {
  position: absolute;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 25px -5px #333;
          box-shadow: 0 0 25px -5px #333;
  width: 100%;
  top: 60;
  left: 15;
  padding-bottom: 20px;
  visibility: hidden;
  opacity: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark .trademark-feild .header-ul {
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  line-height: 30px;
  display: block;
  margin: 20px 0px;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark .trademark-feild .header-ul a {
  font-weight: 700;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark .trademark-feild:hover .header-ul a {
  color: #FF5C00;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark a {
  text-decoration: none;
  color: #7d7d7d;
  font-weight: 400;
  font-size: 16px;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark .hot-produce {
  text-decoration: none;
  color: #333 !important;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark ul {
  display: block;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark ul li {
  height: 35px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-trademark ul li:hover a {
  color: #f55c00;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-tech {
  background-color: #ffffff;
  position: absolute;
  -webkit-box-shadow: 0 0 8px -5px;
          box-shadow: 0 0 8px -5px;
  top: 60;
  width: 200px;
  padding: 10px 15px;
  visibility: hidden;
  opacity: 0%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-tech ul {
  display: block;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-tech ul li {
  margin-bottom: 10px;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-tech ul li a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position .drop-menu-tech ul li:hover a {
  color: #f55c00;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position:hover .drop-menu-produce {
  opacity: 100%;
  visibility: visible;
  position: absolute;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position:hover .drop-menu-trademark {
  visibility: visible;
  opacity: 100%;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position:hover .drop-menu-tech {
  visibility: visible;
  opacity: 100%;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .static-position:hover .static-position-a {
  color: #f55c00;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .ico-position {
  position: relative;
}

body #menu-side-bar .container .container-menu-side #menu-home ul .ico-position img {
  position: absolute;
  top: -40;
  right: -7;
}

body #menu-side-bar .container #ico-shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  position: relative;
}

body #menu-side-bar .container #ico-shopping a {
  margin: 7px;
  padding: 10px;
  border: 1px solid #f55c00;
  border-radius: 35px;
}

body #menu-side-bar .container #ico-shopping i {
  color: black;
}

body #menu-side-bar .container #ico-shopping #ico-sync:hover {
  background-color: #f55c00;
}

body #menu-side-bar .container #ico-shopping #shopping-cart:hover i {
  color: #f55c00;
}

body #menu-side-bar .container #ico-shopping .choise-number {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px 6px;
  color: #ffffff;
  border: 1px solid #f55c00;
  background-color: #f55c00;
  font-size: 13px;
  border-radius: 25px;
}

body .wrapper-slider {
  position: relative;
}

body .wrapper-slider .item {
  position: absolute;
  visibility: hidden;
}

body .wrapper-slider .item a img {
  width: 100%;
}

body .wrapper-slider .active {
  opacity: 1;
  visibility: visible;
  z-index: -1;
}

body .wrapper-slider .in-left {
  -webkit-animation: in-left 1s forwards;
          animation: in-left 1s forwards;
}

@-webkit-keyframes in-left {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

body .wrapper-slider .out-right {
  -webkit-animation: out-right 1s forwards;
          animation: out-right 1s forwards;
}

@-webkit-keyframes out-right {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

body .wrapper-slider .in-right {
  -webkit-animation: in-right 1s forwards;
          animation: in-right 1s forwards;
}

@-webkit-keyframes in-right {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

body .wrapper-slider .out-left {
  -webkit-animation: out-left 1s forwards;
          animation: out-left 1s forwards;
}

@-webkit-keyframes out-left {
  from {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

body .wrapper-slider #btn-sliders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -300;
  left: 250;
}

body .wrapper-slider #btn-sliders .btn-slider {
  border: 1px solid #ffffff;
  background-color: #A8A8A8;
  padding: 5px;
  margin: 3px;
  width: 5;
  border-radius: 25px;
}

body .wrapper-slider #btn-sliders .btn-active {
  border: 1px solid #ffffff;
  background-color: #f55c00;
  padding: 5px;
  margin: 3px;
  width: 30px;
  border-radius: 25px;
}

body .body-footer {
  position: relative;
  top: 380px;
}

body .body-footer .container .service {
  border: 0.5px solid #d8d8d8;
  padding: 20px 0px;
  width: 100%;
}

body .body-footer .container .service .boder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .body-footer .container .service .boder .service-item {
  border-right: 1px solid #cecccc;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .body-footer .container .service .boder .service-item div {
  text-align: left;
}

body .body-footer .container .service .boder .service-item div a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 500;
}

body .body-footer .container .service .boder .service-item div p {
  margin: 0px;
  color: #848282;
  font-size: 12px;
}

body .body-footer .container .service .boder .service-item:last-child {
  border-right: none;
}

body .body-footer .billboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

body .body-footer .household-appliances {
  border-top: 2px solid #ff5c00;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body-footer .household-appliances .menu-household-appliances {
  position: relative;
  width: 210px;
}

body .body-footer .household-appliances .menu-household-appliances header {
  background-color: #ff5c00;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
  -webkit-box-shadow: 2px 2px 10px -2px  #333333;
          box-shadow: 2px 2px 10px -2px  #333333;
}

body .body-footer .household-appliances .menu-household-appliances header::after {
  content: "";
  width: 0;
  height: auto;
  position: absolute;
  border-bottom: 10px solid transparent;
  border-top: 70px solid #ff5c00;
  border-left: 10px solid #ff5c00;
  left: -10;
  top: 0;
}

body .body-footer .household-appliances .menu-household-appliances div {
  display: block;
  padding: 0px 10px;
  background-color: #F5F5F5;
  font-weight: 500;
}

body .body-footer .household-appliances .menu-household-appliances div p a {
  text-decoration: none;
  color: #333333;
}

body .body-footer .household-appliances .menu-household-appliances div p a:hover {
  color: #FF5C00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .body-footer .household-appliances .produces-household-appliances {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .body-footer .household-appliances .produces-household-appliances .produce-detail {
  display: block;
  width: 20%;
  text-align: center;
  padding: 20px;
}

body .body-footer .household-appliances .produces-household-appliances .produce-detail img {
  width: 100%;
}

body .body-footer .household-appliances .produces-household-appliances .produce-detail .name-produce {
  font-weight: 500;
  font-size: 14px;
}

body .body-footer .household-appliances .produces-household-appliances .produce-detail .pice-produce {
  font-size: 16px;
  color: #FF5C00;
  font-weight: 500;
}

body .body-footer .kitchen-utensils {
  border-top: 2px solid #2BAFA4;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body-footer .kitchen-utensils .menu-kitchen-utensils {
  width: 210px;
  position: relative;
}

body .body-footer .kitchen-utensils .menu-kitchen-utensils header {
  background-color: #2BAFA4;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
  -webkit-box-shadow: 2px 2px 10px -2px  #333333;
          box-shadow: 2px 2px 10px -2px  #333333;
}

body .body-footer .kitchen-utensils .menu-kitchen-utensils header::after {
  content: "";
  width: 0;
  height: auto;
  position: absolute;
  border-bottom: 10px solid transparent;
  border-top: 70px solid #2BAFA4;
  border-left: 10px solid #2BAFA4;
  left: -10;
  top: 0;
}

body .body-footer .kitchen-utensils .menu-kitchen-utensils div {
  display: block;
  padding: 0px 10px;
  background-color: #F5F5F5;
  font-weight: 500;
}

body .body-footer .kitchen-utensils .menu-kitchen-utensils div p a {
  text-decoration: none;
  color: #333333;
}

body .body-footer .kitchen-utensils .menu-kitchen-utensils div p a:hover {
  color: #FF5C00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .body-footer .kitchen-utensils .produces-kitchen-utensils {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .body-footer .kitchen-utensils .produces-kitchen-utensils .produce-detail {
  display: block;
  width: 20%;
  text-align: center;
  padding: 20px;
}

body .body-footer .kitchen-utensils .produces-kitchen-utensils .produce-detail img {
  width: 100%;
}

body .body-footer .kitchen-utensils .produces-kitchen-utensils .produce-detail .name-produce {
  font-weight: 500;
  font-size: 14px;
}

body .body-footer .kitchen-utensils .produces-kitchen-utensils .produce-detail .pice-produce {
  font-size: 16px;
  color: #FF5C00;
  font-weight: 500;
}

body .body-footer .sport {
  border-top: 2px solid #F24F5A;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body-footer .sport .menu-sport {
  width: 210px;
  position: relative;
}

body .body-footer .sport .menu-sport header {
  background-color: #F24F5A;
  color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  padding: 10px;
  line-height: 25px;
  -webkit-box-shadow: 2px 2px 10px -2px  #333333;
          box-shadow: 2px 2px 10px -2px  #333333;
}

body .body-footer .sport .menu-sport header::after {
  content: "";
  width: 0;
  height: auto;
  position: absolute;
  border-bottom: 10px solid transparent;
  border-top: 45px solid #F24F5A;
  border-left: 10px solid #F24F5A;
  left: -10;
  top: 0;
}

body .body-footer .sport .menu-sport div {
  display: block;
  padding: 0px 10px;
  background-color: #F5F5F5;
  font-weight: 500;
}

body .body-footer .sport .menu-sport div p a {
  text-decoration: none;
  color: #333333;
}

body .body-footer .sport .menu-sport div p a:hover {
  color: #FF5C00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .body-footer .sport .produces-sport {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .body-footer .sport .produces-sport .produce-detail {
  display: block;
  width: 20%;
  text-align: center;
  padding: 20px;
}

body .body-footer .sport .produces-sport .produce-detail img {
  width: 100%;
}

body .body-footer .sport .produces-sport .produce-detail .name-produce {
  font-weight: 500;
  font-size: 14px;
}

body .body-footer .sport .produces-sport .produce-detail .pice-produce {
  font-size: 16px;
  color: #FF5C00;
  font-weight: 500;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 {
  padding-right: 15px;
  position: relative;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights {
  border-top: 1px solid #6170BC;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .header {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 0px 10px -3px #333;
          box-shadow: 0px 0px 10px -3px #333;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .header header {
  width: 200px;
  text-align: left;
  background-color: #6170BC;
  padding: 15px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .header header::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-bottom: 15px solid transparent;
  border-top: 59px solid #6170BC;
  border-left: 15px solid #6170BC;
  top: 0;
  left: 0;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .count-down {
  padding: 15px;
  border: 1px solid #cac9c9;
  text-align: center;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .count-down .number-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .count-down .number-countdown .color-number {
  padding: 0px 10px;
  background-color: #EBEBEB;
  margin: 0px 2px;
  font-size: 18px;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .count-down img {
  width: 70%;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .count-down #name-produce-countdown a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .count-down #price-produce-countdown {
  color: #ff5c00;
  font-weight: 500;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .intro-produce-box {
  border: 1px solid #cac9c9;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .intro-produce-box .intro-produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cac9c9;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .intro-produce-box .intro-produce img {
  width: 30%;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .intro-produce-box .intro-produce div a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .intro-produce-box .intro-produce div a:hover {
  color: #ff5c00;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .highlights .show-highlights .intro-produce-box .intro-produce div p {
  color: #ff5c00;
  font-weight: 500;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion {
  border-top: 1px solid #FF3366;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .header {
  background-color: #F5F5F5;
  -webkit-box-shadow: 0px 0px 10px -3px #333;
          box-shadow: 0px 0px 10px -3px #333;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .header header {
  width: 200px;
  text-align: left;
  background-color: #FF3366;
  padding: 15px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 600;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .header header::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-bottom: 15px solid transparent;
  border-top: 59px solid #FF3366;
  border-left: 15px solid #FF3366;
  top: 0;
  left: 0;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .count-down {
  padding: 15px;
  border: 1px solid #cac9c9;
  text-align: center;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .count-down .number-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .count-down .number-countdown .color-number {
  padding: 0px 10px;
  background-color: #EBEBEB;
  margin: 0px 2px;
  font-size: 18px;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .count-down img {
  width: 70%;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .count-down #name-produce-countdown a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #333;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .count-down #price-produce-countdown {
  color: #ff5c00;
  font-weight: 500;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .intro-produce-box {
  border: 1px solid #cac9c9;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .intro-produce-box .intro-produce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #cac9c9;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .intro-produce-box .intro-produce img {
  width: 30%;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .intro-produce-box .intro-produce div a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  font-size: 14px;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .intro-produce-box .intro-produce div a:hover {
  color: #ff5c00;
}

body .body-footer .highlights-promotion .row .col-xs-6.col-md-6 .promotion .show-promotion .intro-produce-box .intro-produce div p {
  color: #ff5c00;
  font-weight: 500;
}

body .body-footer .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .body-footer .container .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 10px;
  border: 1px solid #cac9c9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .body-footer .container .btn-carousel {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #cac9c9;
  padding: 8px 12px;
  border-radius: 25px;
  text-align: center;
  background-color: #ffffff;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  color: #999999;
}

body .body-footer .container #btn-next {
  right: -15;
}

body .body-footer .container #btn-pre {
  left: -15;
}

body .body-footer .container #btn-next:hover {
  border: 2px solid #999999;
}

body .body-footer .container #btn-pre:hover {
  border: 2px solid #999999;
}

body .body-footer .sign-up-email {
  background-color: #F0F0F0;
  padding: 30px 0px;
}

body .body-footer .sign-up-email .container {
  font-weight: 600;
}

body .body-footer .sign-up-email .container p {
  margin: 0px;
}

body .body-footer .sign-up-email .container .lb-sign-up {
  width: 25%;
  font-size: 17px;
}

body .body-footer .sign-up-email .container .textbox-button {
  width: 45%;
  display: inherit;
}

body .body-footer .sign-up-email .container .textbox-button .textbox-email {
  width: 60%;
  border-radius: 40px 0px 0px 40px;
  padding: 5px 10px;
  border: 1px solid #ff5c00;
}

body .body-footer .sign-up-email .container .textbox-button .button-email {
  width: 20%;
  display: inline-block;
  border: 1px solid #ff5c00;
  padding: 7px 10px;
  background-color: #ff5c00;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0px 40px 40px 0px;
}

body .body-footer .sign-up-email .container .ico-soft {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
}

body .body-footer .sign-up-email .container .ico-soft p {
  margin: 0px 15px;
}

body .body-footer .sign-up-email .container .ico-soft img {
  margin: 0px 2px;
}

body .body-footer .menu-support {
  margin: 50px 0px 10px 0px;
}

body .body-footer .menu-support .container .row {
  width: 100%;
}

body .body-footer .menu-support .container .row header {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 14px;
}

body .body-footer .menu-support .container .row .item-support {
  font-size: 14px;
}

body .body-footer .menu-support .container .row .item-support div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AAAAAA;
  margin-bottom: 7px;
}

body .body-footer .menu-support .container .row .item-support div i {
  font-size: 11px;
  margin-right: 5px;
}

body .body-footer .menu-support .container .row .item-support div a {
  color: #AAAAAA;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .body-footer .menu-support .container .row .item-support div a:hover {
  color: #f55c00;
}

body .body-footer .footer-menu {
  background-color: #3B3B3B;
  padding: 30px;
}

body .body-footer .footer-menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .body-footer .footer-menu .container span a {
  color: #ffffff;
  font-weight: 500;
  font-size: 13px;
  text-decoration: none;
}

body .body-footer .footer-menu .container span a:hover {
  color: #f55c00;
}

body .body-footer .produce-detail-menu {
  width: 100% !important;
  margin-left: 0px;
  margin-right: 0px;
}

body .body-footer .produce-detail-menu .produce-menu {
  padding: 0px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu {
  border: 1px solid #ebebeb;
  margin-bottom: 40px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .header-produce-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .header-produce-menu .fa-gem {
  font-size: 20px;
  color: #f55c00;
  margin-right: 10px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .choose-menu {
  border: 1px solid #ebebeb;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .choose-menu .title-menu {
  font-size: 15px;
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  margin: 0px;
  color: #7d7d7d;
  overflow: auto;
  /* tự động */
  overflow: scroll;
  /* thanh cuộn */
  overflow: hidden;
  /* ẩn đi */
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .choose-menu .title-menu .img-produce {
  width: 80px;
  height: auto;
  float: left;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .choose-menu .title-menu .name-produce {
  margin: 5px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .choose-menu .title-menu .price-produce {
  font-size: 18px;
  font-weight: 500;
  color: #FF5C00;
  margin: 5px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .title {
  padding: 10px 10px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .title h5 {
  border-bottom: 1px solid #ebebeb;
  padding: 5px 0px;
}

body .body-footer .produce-detail-menu .produce-menu .border-produce-menu .filter-item {
  padding: 10px;
  color: #7d7d7d;
}

body .body-footer .produce-detail-menu .display-produce #detail-produce #produce-area div {
  float: left;
}

body .body-footer .produce-detail-menu .display-produce #detail-produce #produce-area div p {
  word-wrap: break-word;
}
/*# sourceMappingURL=style.css.map */