body {
  font-family: "Open Sans","Helvetica","Arial","sans-serif";
}

body .container {
  padding: 0px !important;
}

body #bg-header-login {
  background-color: #F5F5F5;
  padding: 10px 0px 10px 0px;
}

body #bg-header-login div {
  font-weight: 500;
  font-size: medium;
}

body #bg-header-login div span {
  font-weight: 200 !important;
}

body #bg-header-login div .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body #bg-header-login div .flex-container div {
  margin: 0px 10px 0px 10px;
  font-size: small;
}

body #bg-mg-logo {
  margin: 2em 0em 1em 0em;
}

body #bg-mg-logo .row #txt-seach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #bg-mg-logo .row #txt-seach input {
  padding: 10px 20px;
  margin: 10px 0px 0px 20px;
  border-radius: 40px 0px 0px 40px;
  border: 2px solid #FF5C00;
  width: 500px;
}

body #bg-mg-logo .row #txt-seach #ico-search {
  padding: 10px 20px;
  margin: 10px 0px 0px 0px;
  border-radius: 0px 40px 40px 0px;
  border: 2px solid #3B3B3B;
  background-color: #3B3B3B;
  width: 50px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #bg-mg-logo .row #txt-seach #ico-search .fa {
  color: #ffffff;
  margin: 50%;
}

body #bg-mg-logo .row #txt-seach #ico-search .fa:hover {
  color: orangered;
}

body #bg-mg-logo #info-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0px;
}

body #bg-mg-logo #info-contact #img-phone {
  margin-right: 20px;
}

body .nav-side-bar {
  width: 250px;
  height: auto;
  background-color: white;
  position: fixed;
  left: 15px;
  border: 1px solid #BDBDBD;
  border-radius: 10px 10px 0px 0px;
}

body .nav-side-bar header {
  text-align: center;
  height: 60px;
  background-color: #f55c00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px 10px 0px 0px;
  color: white;
  padding-left: 1em;
  position: relative;
}

body .nav-side-bar header .fa-bars {
  margin-right: 5px;
}

body .nav-side-bar header .fa-caret-down {
  position: absolute;
  right: 15px;
}

body .nav-side-bar ul {
  text-align: left;
  padding: 0px 20px;
  margin: 0px;
}

body .nav-side-bar ul li {
  list-style: none;
  border-bottom: 1px solid #BDBDBD;
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .nav-side-bar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
}

body .nav-side-bar ul li a i {
  margin: 0px 0px 0px 5px;
  width: 35px;
}

body .nav-side-bar ul li a p {
  margin: 0px;
  font-weight: 500;
}

body .nav-side-bar ul li a p:hover {
  color: #f55c00;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
/*# sourceMappingURL=style.css.map */