body{
    font-family: "Open Sans","Helvetica","Arial","sans-serif";
    .container{
        padding: 0px !important;
    }
    #bg-header-login{
        background-color: #F5F5F5;
        padding: 10px 0px 10px 0px;
        div{
            font-weight: 500;
            font-size: medium;
            span{
                font-weight: 200 !important;
            }
            .flex-container{
                display: flex;
                flex-direction: row-reverse;
                div{
                    margin: 0px 10px 0px 10px;
                    font-size: small;
                }
                span{
                    a{
                        text-decoration-line: none;
                        color: #000;
                    }
                    a:hover{
                        color: #FF5C00;
                    }
                }
            }
        }
    }
    #bg-mg-logo{
        margin: 2em 0em 1em 0em;
        .row{
            //justify-content: space-between;;
            #txt-seach{
                display: flex;
                align-items: center;
                input{
                padding: 10px 20px;
                margin: 10px 0px 0px 20px;
                border-radius: 40px 0px 0px 40px;
                border: 2px solid #FF5C00;
                width: 500px;
                }
                #ico-search{
                    padding: 10px 20px;
                    margin: 10px 0px 0px 0px;
                    border-radius: 0px 40px 40px 0px;
                    border: 2px solid #3B3B3B;
                    background-color: #3B3B3B;
                    width: 50px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    .fa{
                        color: #ffffff;
                        margin: 50%;
                    }
                    .fa:hover{
                        color: orangered;
                    }
                }
            }
        }
        #info-contact{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            #img-phone{
                margin-right: 20px;
            }
        }
    }
    #menu-side-bar{
        background-color: #F2F2F2;
        box-shadow: 0px 10px 30px 4px #b1abab;
        .container{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            position: relative;
            .container-menu-side{
                display: flex;
                z-index: 1;
                width: 80%;
                .nav-side-bar{
                    width: 250px;
                    height: auto;
                    background-color: white;
                    left: 15px;
                    border-radius: 10px 10px 0px 0px;
                    //position: relative;
                    header{
                        text-align: center;
                        height: 60px;
                        background-color: #f55c00;
                        display: flex;
                        align-items: center;
                        font-weight: 500;
                        border-radius: 10px 10px 0px 0px;
                        color: white;
                        padding-left: 1em;
                        position: relative;
                        .fa-bars{
                            margin-right: 5px;
                        }
                        .fa-caret-down{
                            position: absolute;
                            right: 15px;;
                        }
                    }
                    #display-side-bar{
                        display: none;
                        position: absolute;
                        border: 1px solid #BDBDBD ;
                        width: 250px;
                        background-color: #ffffff;
                        ul{
                            text-align: left;
                            padding: 0px 20px;
                            margin: 0px;
                            display: block;
                            li{
                                list-style: none;
                                border-bottom: 1px solid #BDBDBD;
                                height: 2.5em;
                                display: flex;
                                align-items: center;
                                position: relative;
                                a{
                                    display: flex;
                                    align-items: center;
                                    text-decoration: none;
                                    color: black;
                                    position: absolute;
                                    width: 100%;
                                    i{
                                        margin: 0px 0px 0px 5px;
                                        width: 35px;
                                    }
                                    p{
                                        margin: 0px;
                                        font-weight: 500;
                                    }
                                    .fa-chevron-right{
                                        position: absolute;
                                        width: 100%;
                                        text-align: right;
                                    }
                                }
                                .menu-chil{
                                    background-color: #ffffff;
                                    position: absolute;
                                    left: 228px;
                                    width: 100%;
                                    top: 0;
                                    border: 1px solid #BDBDBD ;
                                    padding: 0px;
                                    opacity: 0;
                                    transition-duration: 0.5s;
                                    span{
                                        margin: 30px 20px 5px 20px;
                                    }
                                    li{
                                        margin: 0px 30px;
                                        border-bottom: none;
                                    }
                                }
                            }
                            li:hover{
                                p, .fa-chevron-right {
                                    color: #f55c00;
                                    transition-duration: 0.3s;
                                }
                            }
                            .chil-open:hover{
                                .menu-chil{
                                    opacity: 100%;
                                    transition-duration: 0.3s;
                                }
                            }
                            .chil-open{
                                a:hover{
                                    color: #f55c00;
                                }
                            }
                        }
                    }
                    
                }
                #side-bar:hover #display-side-bar{
                    display: block;
                    position: absolute;
                    transition-duration: 0.25s;
                }
                #menu-home{
                    display: flex;
                    align-items: center;
                    ul{
                        display: flex;
                        list-style: none;
                        padding: 0px;    
                        margin: 0px;
                        .static-position{
                            margin: 0px 5px 0px 15px;
                            .static-position-a{
                                text-decoration-line: none;
                                color: black;
                                font-weight: 500;
                            }
                            
                            .drop-menu-produce{
                                background-color: #ffffff;
                                position: absolute; 
                                width: 1000px;
                                left: 0;
                                top: 59;
                                width: 100%;
                                height: 100%;
                                transition: 0.5s;
                                opacity: 0%;
                                visibility: hidden;
                                border-top: none;
                                        border-bottom: 5px solid #f2f2f2;
                                        box-shadow: 0 0 25px -5px;
                                        padding: 15px;
                                        height: 350;
                                .drop-menu-detail{
                                    ul{
                                        display: flex ;
                                        flex-wrap: wrap;
                                        
                                        .menu-field{
                                            width: 200px;
                                            height: 40px;
                                            margin-right: 15px;
                                            margin-bottom: 15px;
                                            span{
                                                a{
                                                    text-decoration: none;
                                                    color: #7d7d7d;
                                                    font-size: 14px;
                                                    font-weight: 550;
                                                    transition: 0.2S;
                                                }
                                            }
                                            span:hover{
                                                a{
                                                    color: #f55c00;
                                                }
                                            }
                                        }
                                    }
                                }
                                .baner-menu-produce{
                                    display: flex;
                                    .col-xs-6, .col-md-6{
                                        padding-left: 0px !important;
                                    }
                                }
                            }
                            .drop-menu-trademark{
                                position: absolute;
                                background-color: #ffffff;
                                box-shadow: 0 0 25px -5px #333;
                                width: 100%;
                                top: 60;
                                left: 15;
                                padding-bottom: 20px;
                                visibility: hidden;
                                opacity: 0%;
                                transition: 0.5s;
                                .trademark-feild{
                                    .header-ul{
                                        border-bottom: 1px solid #e0e0e0;
                                        width: 100%;
                                        line-height: 30px;
                                        display: block;
                                        margin: 20px 0px;
                                        a{
                                            font-weight: 700;;
                                        }
                                    }
                                }  
                                .trademark-feild:hover{
                                    .header-ul{
                                        a{
                                            color: #FF5C00;
                                        }
                                    }
                                }
                                a{
                                    text-decoration: none;
                                    color: #7d7d7d;
                                    font-weight: 400;
                                    font-size: 16px;
                                }
                                .hot-produce{
                                    text-decoration: none;
                                    color: #333 !important;
                                }
                                ul{
                                    display: block;
                                    
                                    li{
                                        height: 35px;
                                        transition: 0.3s;
                                    }
                                    li:hover{
                                        a{
                                            color: #f55c00;
                                        }
                                    }
                                }
                            }
                            .drop-menu-tech{
                                background-color: #ffffff;
                                position: absolute;
                                box-shadow: 0 0 8px -5px;
                                top: 60;
                                width: 200px;
                                padding: 10px 15px;
                                visibility: hidden;
                                opacity: 0%;
                                transition: 0.5s;
                                ul{
                                    display: block;
                                    li{
                                        margin-bottom: 10px;
                                        a{
                                            text-decoration: none;
                                            color: #7d7d7d;
                                            font-size: 16px;
                                            transition: 0.3s;
                                        }
                                    }
                                    li:hover{
                                        a{
                                            color: #f55c00;
                                        }
                                    }
                                }
                            }
                        }
                        .static-position:hover {
                            .drop-menu-produce{
                                opacity: 100%;
                                visibility: visible;
                                position: absolute;
                            }
                            .drop-menu-trademark{
                                visibility: visible;
                                opacity: 100%;
                            }
                            .drop-menu-tech{
                                visibility: visible;
                                opacity: 100%;
                            }
                        }    
                    
                        .static-position:hover{
                            .static-position-a{
                                color: #f55c00;
                                transition-duration: 0.3s;
                            }
                        }
                        .ico-position{
                            position: relative;
                            img{
                                position: absolute;
                                top: -40;
                                right: -7;
                            }
                        }
                    }
                }
            }
            
            #ico-shopping{
                display: flex;
                align-items: center;
                font-size: 20px;
                position: relative;
                a{
                    margin: 7px;
                    padding: 10px;
                    border: 1px solid #f55c00 ;
                    border-radius: 35px;    
                }
                i{
                    color: black;
                }
                #ico-sync:hover{
                    background-color: #f55c00 ;
                }
                #shopping-cart:hover{
                    i{
                        color: #f55c00;
                    }
                }
                .choise-number{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0px 6px;
                    color: #ffffff;
                    border: 1px solid #f55c00;
                    background-color: #f55c00 ;
                    font-size: 13px;
                    border-radius: 25px;
                } 
            }
        }     
    }
    .wrapper-slider{
        position: relative;
        .item{
            position: absolute;
            visibility: hidden;
            
            a{
                img{
                    width: 100%;
                }
            }
        }
        .active{
            opacity: 1;
            visibility: visible;
            z-index: -1;
        }
        .in-left{
            animation: in-left 1s forwards;
        }
        @-webkit-keyframes in-left{
            from{
                transform: translateX(-100%);
            }
            to{
                transform: translateX(0%);
            }
        }
        @-moz-keyframes in-left{
            from{
                transform: translateX(-100%);
            }
            to{
                transform: translateX(0%);
            }
        }
        .out-right{
            animation: out-right 1s forwards;
        }
        @-webkit-keyframes out-right{
            from{
                transform: translateX(0%);
            }
            to{
                transform: translateX(100%);
            }
        }
        @-moz-keyframes out-right{
            from{
                transform: translateX(0%);
            }
            to{
                transform: translateX(100%);
            }
        }
        .in-right{
            animation: in-right 1s forwards;
        }
        @-webkit-keyframes in-right{
            from{
                transform: translateX(100%) ;
            }
            to{
                transform: translateX(0%);
            }
        }
        @-moz-keyframes in-right{
            from{
                transform: translateX(100%) ;
            }
            to{
                transform: translateX(0%);
            }
        }
        .out-left{
            animation: out-left 1s forwards ;
        }
        @-webkit-keyframes out-left{
            from{
                transform: translateX(0%);
            }
            to{
                transform: translateX(-100%);
            }
        }
        @-moz-keyframes out-left{
            from{
                transform: translateX(0%);
            }
            to{
                transform: translateX(-100%);
            }
        }
        #btn-sliders{
            display: flex;
            position: absolute;
            bottom: -300;
            left: 250;
            .btn-slider{
                border: 1px solid #ffffff;
                background-color: #A8A8A8;
                padding: 5px;
                margin: 3px;
                width: 5;
                border-radius: 25px;
            }
            .btn-active{
                border: 1px solid #ffffff;
                background-color: #f55c00;
                padding: 5px;
                margin: 3px;
                width: 30px ;
                border-radius: 25px;
            }
        }
    }
    .body-footer{
        position: relative;
        top: 380px;
        .container{
            .service{
                border: 0.5px solid #d8d8d8;
                padding: 20px 0px;
                width: 100%;
                .boder{
                    display: flex;
                    justify-content: space-between;
                    
                    .service-item{
                        border-right: 1px solid #cecccc;
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        div{
                            text-align: left;
                            a{
                                text-decoration: none;
                                color: #333;
                                font-size: 14px;
                                font-weight: 500;
                            }
                            p{
                                margin: 0px;
                                color: #848282;
                                font-size: 12px;
                            }
                        }
                    }
                    .service-item:last-child{
                        border-right: none;
                    }
                }
            }
        }
        .billboard{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 50px;;
        }
        .household-appliances{
            border-top: 2px solid #ff5c00;
            margin-bottom: 50px;
            display: flex;
            .menu-household-appliances{
                position: relative;
                width: 210px;
                header{
                    background-color: #ff5c00 ;
                    color: #ffffff;
                    font-size: 21px;
                    font-weight: 500;
                    padding: 10px;
                    line-height: 25px;
                    box-shadow: 2px 2px 10px -2px  #333333;
                }
                header::after{
                    content: "";
                    width: 0;
                    height: auto;
                    position: absolute;
                    border-bottom: 10px solid transparent;
                    border-top: 70px solid #ff5c00;
                    border-left: 10px solid #ff5c00;
                    left: -10;
                    top: 0;
                }
                div{
                    display: block;
                    padding: 0px 10px;
                    background-color: #F5F5F5;
                    font-weight: 500;
                    p{
                        a{
                            text-decoration: none;
                            color: #333333;
                        }
                        a:hover{
                            color: #FF5C00;
                            transition: 0.5s;
                        }
                    }
                }
            }
            .produces-household-appliances{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .produce-detail{
                    display: block;
                    width: 20%;
                    text-align: center;
                    padding: 20px;
                    img{
                        width: 100%;
                    }
                    .name-produce{
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .pice-produce{
                        font-size: 16px;
                        color: #FF5C00;
                        font-weight: 500;
                    }
                    
                }
            }
        }
        .kitchen-utensils{
            border-top: 2px solid #2BAFA4;
            margin-bottom: 50px;
            display: flex;
            .menu-kitchen-utensils{
                width: 210px;
                position: relative;
                header{
                    background-color: #2BAFA4 ;
                    color: #ffffff;
                    font-size: 21px;
                    font-weight: 500;
                    padding: 10px;
                    line-height: 25px;
                    box-shadow: 2px 2px 10px -2px  #333333;
                }
                header::after{
                    content: "";
                    width: 0;
                    height: auto;
                    position: absolute;
                    border-bottom: 10px solid transparent;
                    border-top: 70px solid #2BAFA4;
                    border-left: 10px solid #2BAFA4;
                    left: -10;
                    top: 0;
                }
                div{
                    display: block;
                    padding: 0px 10px;
                    background-color: #F5F5F5;
                    font-weight: 500;
                    p{
                        a{
                            text-decoration: none;
                            color: #333333;
                        }
                        a:hover{
                            color: #FF5C00;
                            transition: 0.5s;
                        }
                    }
                }
            }
            .produces-kitchen-utensils{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .produce-detail{
                    display: block;
                    width: 20%;
                    text-align: center;
                    padding: 20px;
                    img{
                        width: 100%;
                    }
                    .name-produce{
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .pice-produce{
                        font-size: 16px;
                        color: #FF5C00;
                        font-weight: 500;
                    }
                }
            }
        }
        .sport{
            border-top: 2px solid #F24F5A;
            margin-bottom: 50px;
            display: flex;
            .menu-sport{
                width: 210px;
                position: relative;
                header{
                    background-color: #F24F5A ;
                    color: #ffffff;
                    font-size: 21px;
                    font-weight: 500;
                    padding: 10px;
                    line-height: 25px;
                    box-shadow: 2px 2px 10px -2px  #333333;
                }
                header::after{
                    content: "";
                    width: 0;
                    height: auto;
                    position: absolute;
                    border-bottom: 10px solid transparent;
                    border-top: 45px solid #F24F5A;
                    border-left: 10px solid #F24F5A;
                    left: -10;
                    top: 0;
                }
                div{
                    display: block;
                    padding: 0px 10px;
                    background-color: #F5F5F5;
                    font-weight: 500;
                    p{
                        a{
                            text-decoration: none;
                            color: #333333;
                        }
                        a:hover{
                            color: #FF5C00;
                            transition: 0.5s;
                        }
                    }
                }
            }
            .produces-sport{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                .produce-detail{
                    display: block;
                    width: 20%;
                    text-align: center;
                    padding: 20px;
                    img{
                        width: 100%;
                    }
                    .name-produce{
                        font-weight: 500;
                        font-size: 14px;
                    }
                    .pice-produce{
                        font-size: 16px;
                        color: #FF5C00;
                        font-weight: 500;
                    }
                }
            }
        }
        .highlights-promotion{
            .row{
                .col-xs-6.col-md-6 {
                    padding-right: 15px;
                    position: relative;
                    .highlights{
                        border-top: 1px solid #6170BC;
                        .header{
                            background-color: #F5F5F5;
                            box-shadow: 0px 0px 10px -3px #333;
                            header{
                                width: 200px;
                                text-align: left;
                                background-color: #6170BC;
                                padding: 15px;
                                color: #ffffff;
                                font-size: 19px;
                                font-weight: 600;
                            }
                            header::after{
                                content: "";
                                width: 0px;
                                height: 0px;
                                position: absolute;
                                border-bottom: 15px solid transparent;
                                border-top: 59px solid #6170BC;
                                border-left: 15px solid #6170BC;
                                top: 0;
                                left: 0;
                            }
                        }
                        .show-highlights{
                            display: flex;
                            .count-down{
                                padding: 15px;
                                border: 1px solid #cac9c9;
                                text-align: center;
                                .number-countdown{
                                    display: flex;
                                    justify-content: center;
                                    .color-number{
                                        padding: 0px 10px;
                                        background-color: #EBEBEB;
                                        margin: 0px 2px;
                                        font-size: 18px;
                                    }
                                }
                                img{
                                    width: 70%;
                                }
                                #name-produce-countdown{
                                    a{
                                        font-size: 14px;
                                        font-weight: 500;
                                        text-decoration: none;
                                        color: #333;
                                    }
                                }
                                #price-produce-countdown{
                                    color: #ff5c00;
                                    font-weight: 500;
                                }
                            }
                            .intro-produce-box{
                                border: 1px solid #cac9c9;
                                .intro-produce{
                                    display: flex;
                                    padding: 15px;
                                    align-items: center;
                                    border-bottom: 1px solid #cac9c9;
                                    img{
                                        width: 30%;
                                    }
                                    div{
                                        a{
                                            text-decoration: none;
                                            color: #333333;
                                            font-weight: 500;
                                            font-size: 14px;
                                        }
                                        a:hover{
                                            color: #ff5c00;
                                            
                                        }
                                        p{
                                            color: #ff5c00;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                    .promotion{
                        border-top: 1px solid #FF3366;
                        .header{
                            background-color: #F5F5F5;
                            box-shadow: 0px 0px 10px -3px #333;
                            header{
                                width: 200px;
                                text-align: left;
                                background-color: #FF3366;
                                padding: 15px;
                                color: #ffffff;
                                font-size: 19px;
                                font-weight: 600;
                            }
                            header::after{
                                content: "";
                                width: 0px;
                                height: 0px;
                                position: absolute;
                                border-bottom: 15px solid transparent;
                                border-top: 59px solid #FF3366;
                                border-left: 15px solid #FF3366;
                                top: 0;
                                left: 0;
                            }
                        }
                        .show-promotion{
                            display: flex;
                            .count-down{
                                padding: 15px;
                                border: 1px solid #cac9c9;
                                text-align: center;
                                .number-countdown{
                                    display: flex;
                                    justify-content: center;
                                    .color-number{
                                        padding: 0px 10px;
                                        background-color: #EBEBEB;
                                        margin: 0px 2px;
                                        font-size: 18px;
                                    }
                                }
                                img{
                                    width: 70%;
                                }
                                #name-produce-countdown{
                                    a{
                                        font-size: 14px;
                                        font-weight: 500;
                                        text-decoration: none;
                                        color: #333;
                                    }
                                }
                                #price-produce-countdown{
                                    color: #ff5c00;
                                    font-weight: 500;
                                }
                            }
                            .intro-produce-box{
                                border: 1px solid #cac9c9;
                                .intro-produce{
                                    display: flex;
                                    padding: 15px;
                                    align-items: center;
                                    border-bottom: 1px solid #cac9c9;
                                    img{
                                        width: 30%;
                                    }
                                    div{
                                        a{
                                            text-decoration: none;
                                            color: #333333;
                                            font-weight: 500;
                                            font-size: 14px;
                                        }
                                        a:hover{
                                            color: #ff5c00;
                                            
                                        }
                                        p{
                                            color: #ff5c00;
                                            font-weight: 500;
                                        }
                                    }
                                }
                            }
                            
                        }
                        
                    }
                }
            }
        }
        .container{
            position: relative;
            display: flex;
            align-items: center;
            .carousel{
                display: flex;
                padding: 5px 10px;
                border: 1px solid #cac9c9 ;
                align-items: center;
                margin: 25px 0px;
                justify-content: space-between;
                width: 100%;
            }
            .btn-carousel{
                position: absolute;
                box-sizing: border-box;
                border: 1px solid #cac9c9;
                padding: 8px 12px;
                border-radius: 25px;
                text-align: center;
                background-color: #ffffff;
                transition: 0.15s;
                color: #999999;
            }
            #btn-next{
                right: -15;
            }
            #btn-pre{
                left: -15;
            }
            #btn-next:hover{
                border: 2px solid #999999;
            }
            #btn-pre:hover{
                border: 2px solid #999999;
            }
        }
        .sign-up-email{
            background-color: #F0F0F0;
            padding: 30px 0px;
            .container{
                font-weight: 600;
                p{
                    margin: 0px;
                }
                .lb-sign-up{
                    width: 25%;
                    font-size: 17px;
                }
                .textbox-button{
                    width: 45%;
                    display: inherit;
                    .textbox-email{
                        width: 60%;
                        border-radius: 40px 0px 0px 40px;
                        padding: 5px 10px;
                        border: 1px solid #ff5c00;
                    }
                    .button-email{
                        width: 20%;
                        display: inline-block;
                        border: 1px solid #ff5c00;
                        padding: 7px 10px;
                        background-color: #ff5c00;
                        color: #ffffff;
                        font-size: 14px;
                        font-weight: 400;
                        border-radius: 0px 40px 40px 0px;
                    }
                }
                .ico-soft{
                    width: 30%;
                    display: flex ;
                    justify-content: flex-end;
                    align-items: center;
                    font-size: 17px;
                    p{
                        margin: 0px 15px;
                    }
                    img{
                        margin: 0px 2px;
                    }
                }
            }
        }
        .menu-support{
            margin: 50px 0px 10px 0px;
            .container{
                .row{
                    width: 100%;
                    header{
                        font-weight: 500;
                        margin-bottom: 15px;
                        font-size: 14px;
                    }
                    .item-support{
                        font-size: 14px;
                        div{
                            display: flex;
                            align-items: center;
                            color: #AAAAAA;
                            margin-bottom: 7px;
                            i{
                                font-size: 11px;
                                margin-right: 5px ;
                            }
                            a{
                                color: #AAAAAA;
                                text-decoration: none;
                                transition: 0.3s;
                            }
                            a:hover{
                                color: #f55c00;
                            }
                        }
                    }
                }
            }
        }
        .footer-menu{
            background-color: #3B3B3B;
            padding: 30px;
            .container{
                display: flex;
                justify-content: space-around;
                span{
                    a{
                        color: #ffffff;
                        font-weight: 500;
                        font-size: 13px;
                        text-decoration: none;
                    }
                    a:hover{
                        color: #f55c00;
                    }
                }
            }
        }
        .produce-detail-menu{
            width: 100% !important;
            margin-left: 0px;
            margin-right: 0px;
            .produce-menu{
                padding: 0px;
                .border-produce-menu{
                    border: 1px solid #ebebeb;
                    margin-bottom: 40px;
                    .header-produce-menu{
                        display: flex;
                        align-items: center;
                        background-color: #f2f2f2;
                        border-bottom: 1px solid #ebebeb;
                        padding: 10px;
                        .fa-gem{
                            font-size: 20px;
                            color: #f55c00;
                            margin-right: 10px;;
                        }
                    }
                    .choose-menu{
                        border: 1px solid #ebebeb;
                        .title-menu{
                            font-size: 15px;
                            border-bottom: 1px solid #ebebeb;
                            padding: 10px;
                            margin: 0px;
                            color: #7d7d7d;
                            overflow: auto; /* tự động */
                            overflow: scroll; /* thanh cuộn */
                            overflow: hidden; /* ẩn đi */
                            .img-produce{
                                width: 80px;
                                height: auto;
                                float: left;
                            }
                            .name-produce{
                                margin: 5px;
                            }
                            .price-produce{
                                font-size: 18px;
                                font-weight: 500;
                                color: #FF5C00;
                                margin: 5px;
                            }
                        }
                    }
                    
                        
                    .title{
                        padding: 10px 10px;
                        h5{
                            border-bottom: 1px solid #ebebeb;
                            padding: 5px 0px;
                        }
                    }
                    .filter-item{
                        padding: 10px;
                        color: #7d7d7d;
                    }
                    
                }
            }
            .display-produce{
                #detail-produce{
                    #produce-area{
                        div{
                            float: left;
                            p{
                                word-wrap: break-word;
                            }
                        }
                    }
                }
            }
        }
    }
}


