body{
    font-family: "Open Sans","Helvetica","Arial","sans-serif";
    .container{
        padding: 0px !important;
    }
    #bg-header-login{
        background-color: #F5F5F5;
        padding: 10px 0px 10px 0px;
        div{
            font-weight: 500;
            font-size: medium;
            span{
                font-weight: 200 !important;
            }
            .flex-container{
                display: flex;
                flex-direction: row-reverse;
                div{
                    margin: 0px 10px 0px 10px;
                    font-size: small;
                }
            }
        }
    }
    #bg-mg-logo{
        margin: 2em 0em 1em 0em;
        .row{
            //justify-content: space-between;;
            #txt-seach{
                display: flex;
                align-items: center;
                input{
                padding: 10px 20px;
                margin: 10px 0px 0px 20px;
                border-radius: 40px 0px 0px 40px;
                border: 2px solid #FF5C00;
                width: 500px;
                }
                #ico-search{
                    padding: 10px 20px;
                    margin: 10px 0px 0px 0px;
                    border-radius: 0px 40px 40px 0px;
                    border: 2px solid #3B3B3B;
                    background-color: #3B3B3B;
                    width: 50px;
                    height: 48px;
                    display: flex;
                    justify-content: center;
                    .fa{
                        color: #ffffff;
                        margin: 50%;
                    }
                    .fa:hover{
                        color: orangered;
                    }
                }
            }
        }
        #info-contact{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin: 0px;
            #img-phone{
                margin-right: 20px;
            }
        }
    }
    .nav-side-bar{
        width: 250px;
        height: auto;
        background-color: white;
        position: fixed;
        left: 15px;
        border: 1px solid #BDBDBD ;
        border-radius: 10px 10px 0px 0px;
        header{
            text-align: center;
            height: 60px;
            background-color: #f55c00;
            display: flex;
            align-items: center;
            border-radius: 10px 10px 0px 0px;
            color: white;
            padding-left: 1em;
            position: relative;
            .fa-bars{
                margin-right: 5px;
            }
            .fa-caret-down{
                position: absolute;
                right: 15px;;
            }
        }
        ul{
            text-align: left;
            padding: 0px 20px;
            margin: 0px;
            li{
                list-style: none;
                border-bottom: 1px solid #BDBDBD;
                height: 2em;
                display: flex;
                align-items: center;
                a{
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    color: black;
                    i{
                        margin: 0px 0px 0px 5px;
                        width: 35px;
                    }
                    p{
                        margin: 0px;
                        font-weight: 500;
                    }
                    p:hover{
                        color: #f55c00;
                        transition-duration: 0.3s;
                    }
                }
            }
        }
    }
}